/* 
  container-l - 1040px
  contaner-b - 1200px    
*/

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #533738;
}

.container-l {
  width: 1040px;
}

.container-b {
  width: 1200px;
}

a {
  text-decoration: none;
  color: #533738;
}

/* -----------header------------*/
header {
  padding: 38px 125px;
  display: flex;
  flex-direction: column;
  color: #533738;
  background: no-repeat url("images/header-background.jpg") 100% 100% / cover;
  min-height: 715px;
}

/* ----header-top----- */
.header-top {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 95px;
}

.header-top span {
  text-transform: uppercase;
}

.burger-nav {
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 824px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  position: relative;
  display: block;
  color: #533738;
}

.logo::after {
  content: "";
  position: absolute;
  right: calc(50% + 35px);
  top: calc(50% - 15px);
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("images/logo.svg");
}

/* ----header-bottom----- */

.header-bottom {
  width: 430px;
  margin: 0 682px 0 182px;
}

.header-title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  margin: 0 0 24px 0;
}

.header-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 24px 0;
}

.header-request-link {
  display: block;
  background: #cc8b86;
  text-align: center;
  width: 250px;
  padding: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: 0.5s;
}

.header-request-link:hover {
  background: #a3716e;
}

/* ----about-us----- */
.about-us {
  background-color: #e5e5e5;
  padding: 65px 0 0;
}

.about-us-title {
  width: 140px;
  margin: 0 auto 40px;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.about-us-container {
  margin: 0 auto 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us-text {
  width: 530px;
  font-size: 18px;
  line-height: 30px;
}

.about-us-text p:not(:last-child) {
  margin: 0 0 40px 0;
}

/* ----about-us-stats----- */
.about-us-stat {
  background: #8d7370;
  padding: 85px 0 81px 0;
}

.about-us-stat-list {
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us-stat-list-item p {
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.about-us-stat-list-item p:nth-child(2) {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

/* ----our-project----- */

.our-project {
  background: #e5e5e5;
  padding: 65px 0;
}

.our-project-container {
  margin: 0 auto;
}

.our-project-title {
  margin: 0 0 40px 0;
  font-size: 40px;
  line-height: 50px;
}

.our-project-image-box {
  display: flex;
  justify-content: space-between;
}

.our-project-image-box img {
  display: block;
}

.image-container {
  position: relative;
  transition: 1.5s;
  z-index: 1;
}

.hover-block {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(100, 72, 69, 0.8);
  visibility: hidden;
  padding: 86px 0 122px 0;
}

.hover-block h3 {
  width: 270px;
  margin: 0 auto 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
}

.hover-block p {
  width: 410px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin: 0 auto;
}

.image-container:hover .hover-block {
  visibility: visible;
}

.our-project-image-box:not(:last-of-type) {
  margin: 0 0 30px 0;
}

.our-project-image-box:last-of-type {
  margin: 0 0 40px 0;
}

.our-project-see-more {
  position: relative;
  border: none;
  outline: none;
  background: rgba(250, 249, 249, 0);
  display: block;
  width: 295px;
  text-align: left;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  margin: 0 auto;
}

.our-project-see-more:focus {
  cursor: pointer;
}

.our-project-see-more::after {
  content: url(images/Arrow\ 3.svg);
  width: 60px;
  height: 10px;
  position: absolute;
  top: 0;
  left: calc(100% - 60px);
}

/* ----our-team----- */

.our-team {
  padding: 50px 0 80px 0;
  background: #e2c4ba;
}

.our-team-container {
  margin: 0 auto;
}

.our-team-container h2 {
  width: 225px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  margin: 0 auto 42px;
  text-transform: uppercase;
}

.our-team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 0 35px 0;
}

.our-team-list li {
  width: 320px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.team-work-container {
  margin: 0 auto;
}

.team-work-container h2 {
  width: 420px;
  margin: 0 auto 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.team-work {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.team-work li {
  width: 285px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.team-work span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  background: #8d7370;
  border-radius: 50%;
}

/* ----review---- */

.review {
  background: #efe6e4;
  padding: 65px 0 65px 0;
}

.review h2 {
  width: 190px;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 auto 40px;
}

.review-container {
  position: relative;
  margin: 0 auto;
  width: 835px;
}

.review-card {
  display: flex;
  justify-content: space-between;
}

.arrow-right {
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  right: -90px;
  border-radius: 50%;
  background: center / 70% no-repeat url(images/Arrow\ 2.svg) #cc8b86;
  padding: 10px;
  display: flex;
  cursor: pointer;
}

.arrow-left {
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: -90px;
  border-radius: 50%;
  background: center / 70% no-repeat url(images/Arrow\ 2.svg) #cc8b86;
  padding: 10px;
  display: flex;
  transform: rotate(-180deg);
  cursor: pointer;
}

.review-text-box {
  width: 405px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-text-box p:not(:last-child) {
  margin: 0 0 20px 0;
}

.review-image-box {
  width: 405px;
}

.review-image-box img {
  display: block;
}

.review-image-box img:not(:last-child) {
  margin: 0 0 20px 0;
}

/* ---request---- */

.request {
  background: #8d7370;
}

.request-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.request-form {
  width: 510px;
  padding: 50px 0 181px 0;
}

.request-form h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  margin: 0 0 25px 0;
}

.request-form p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin: 0 0 45px 0;
}

.request-form input {
  background-color: rgba(255, 255, 255, 0);
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  color: #ffffff;
  display: block;
  width: 100%;
}

.request-form input:not(:last-child) {
  margin: 0 0 40px 0;
}

.request-form button {
  outline: none;
  border: none;
  background: #cc8b86;
  padding: 25px 0 25px 0;
  width: 310px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

footer {
  background: #e5e5e5;
}

footer div {
  display: flex;
  justify-content: space-between;
  padding: 37px 0;
  margin: 0 auto;
}

@media screen and (max-width: 440px) {
  header {
    background: #efe6e4;
    padding: 0px;
  }

  .header-top {
    max-width: 440px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #8d7370;
    padding: 10px 5px;
    z-index: 3;
  }

  .logo {
    display: none;
  }

  .nav-list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 0 50px;
    background-color: #8d7370;
  }
  .nav-list.active {
    display: block;
  }

  .nav-list a {
    color: #fff;
  }
  .nav-list li {
    margin: 0 0 20px 0;
  }

  .tel_link {
    display: none;
  }

  .burger-nav {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
  }

  .burger-nav::before,
  .burger-nav::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }

  .burger-nav span {
    position: absolute;
    background-color: #fff;
    left: 0px;
    width: 100%;
    height: 3px;
    top: 8.7px;
  }
  .burger-nav::before {
    top: 0px;
  }
  .burger-nav::after {
    bottom: 0px;
  }

  .burger-nav.active::before {
    transform: rotate(45deg);
    top: 9px;
    z-index: 10;
  }

  .burger-nav.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    z-index: 10;
  }

  .burger-nav.active span {
    transform: scale(0);
    z-index: 10;
  }

  .header-bottom {
    max-width: 420px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 45px 0 0 0;
  }

  /* about-us-container */

  .about-us-container {
    flex-direction: column;
    max-width: 430px;
  }

  .about-us-container img {
    max-width: 430px;
    height: 100%;
  }

  .about-us-text {
    max-width: 430px;
    padding: 10px;
    font-size: 14px;
    line-height: 22px;
  }

  .about-us-stat {
    padding: 35px 10px 35px 10px;
  }

  .about-us-stat-list {
    justify-content: space-around;
    max-width: 100%;
  }

  .about-us-stat-list-item p {
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
  }

  .about-us-stat-list-item p:nth-child(2) {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  /* ----our-project----- */

  .our-project {
    background: #e5e5e5;
    padding: 35px 0;
    max-width: 440px;
  }

  .our-project-container {
    margin: 0 auto;
    max-width: 100%;
  }

  .our-project-title {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }

  .our-project-image-box {
  }

  .our-project-image-box:not(:nth-child(2)) {
    display: none;
  }

  .our-project-image-box img {
    display: block;
  }

  .image-container {
    display: none;
  }

  .image-container-mobile {
    display: flex;
    overflow: hidden;
  }

  .image-container-mobile-card {
  }

  .image-container-mobile-card img {
    height: 100%;
    max-width: 300px;
    margin: 0 20px 0 20px;
  }

  .hover-block {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(100, 72, 69, 0.8);
    visibility: hidden;
    padding: 86px 0 122px 0;
  }

  .hover-block h3 {
    width: 270px;
    margin: 0 auto 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
  }

  .hover-block p {
    width: 410px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    margin: 0 auto;
  }

  .image-container:hover .hover-block {
    visibility: visible;
  }

  .our-project-image-box:not(:last-of-type) {
    margin: 0 0 30px 0;
  }

  .our-project-image-box:last-of-type {
    margin: 0 0 40px 0;
  }

  .our-project-see-more {
    position: relative;
    border: none;
    outline: none;
    background: rgba(250, 249, 249, 0);
    display: block;
    width: 295px;
    text-align: left;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin: 0 auto;
  }

  .our-project-see-more:focus {
    cursor: pointer;
  }

  .our-project-see-more::after {
    content: url(images/Arrow\ 3.svg);
    width: 60px;
    height: 10px;
    position: absolute;
    top: 0;
    left: calc(100% - 60px);
  }
}
